.intro__greetings{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
  justify-content: center;
  box-sizing: border-box;
  margin: 64px 0 0;
  grid-template-columns: repeat(auto-fit, minmax(320px, 700px));
  box-sizing: border-box;
}

