.header__content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 48px 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__content{
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__content{
    padding: 0 16px 0;
    margin: 16px auto 0;
  }
}